/* FEATURED FISTING */

.featured-listing {
    width: 1200px;
    align-self: center;
}

.featured-listing-content {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 48px 0;
    justify-content: center;

}

.cyan-bg {
    background-color: #BCF6FB;
    position: absolute;
    z-index: -1;
    margin: 0;
    width: 100%;
    right: -35%;
    top:0;
    bottom: -32px;
}

.featured-listing-selector {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 32px 0 0 0;
    position: absolute;
    bottom: -32px;
    align-self: center;
}

.featured-listing-selector img {
    padding: 0 15px;
}

.selector1, .selector2, .selector3 {
    cursor: pointer;
}

.bigImage {
    display: block;
}

.sliderBigImage{
    width: 524px;
    height: 524px;
    margin-right: 600px;
}

.sliderSmallImage{
    width: 240px;
    height: 164px;
}

.slider.position-1 {
    left: 0px;
    transition: 0.3s;
}

.slider.position-2 {
    left: calc(-100vw + 16px);
    transition: 0.3s;
}

.slider.position-3 {
    left: calc(-200vw + 32px);
    transition: 0.3s;
}


