/* FEATURED FISTING */

.featured-listing {
    width: 1200px;
    align-self: center;
    margin-bottom: 1000px;
}

.featured-listing-content {
    position: relative;
    width: 100%;
    margin: 48px 0;
    padding: 32px 0;
}

.featured-listing-content h2 {
    margin-bottom: 48px;
}

.cyan-bg {
    background-color: #BCF6FB;
    position: absolute;
    z-index: -1;
    margin: 0;
    width: 100%;
    right: -35%;
    top:0;
    bottom: -632px;
}

.featured-listing-selector {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 32px 0 0 0;
    position: absolute;
    bottom: -32px;
    align-self: center;
}

.selector {
    padding: 0 15px;
    cursor: pointer;
}

.big-image {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 125px;
    left: 0;
}

.small-image {

}

.sliderBigImage{
    width: 524px;
    height: 524px;
    margin-right: 600px;
}

.sliderSmallImage{
    width: 240px;
    height: 164px;
    margin-bottom: 16px;
}

.smallImagesHolder1, .smallImagesHolder2, .smallImagesHolder3 {
    position: absolute;
    left: 540px;
    top: 125px;
    margin-right: 650px;
    display: flex;
    flex-direction: column;
}

.featured-listing-info {
    position: absolute;
    left: 796px;
    display: flex;
    flex-direction: column;
    
}







/*
.slider.position-1 {
    left: 0px;
    transition: 0.3s;
}

.slider.position-2 {
    left: calc(-100vw + 16px);
    transition: 0.3s;
}

.slider.position-3 {
    left: calc(-200vw + 32px);
    transition: 0.3s;
}

*/
