/* FEATURED FISTING */

.featured-listing-content {
    position: relative;
    padding: 32px 0;
    margin: 32px 0;
}

.cyan-bg {
    background-color: #BCF6FB;
    position: absolute;
    z-index: -1;
    margin: 0;
    width: 100%;
    right: -25%;
    top:0;
    bottom:0;
}

.featured-listing {
    margin: 32px 0 0 0;
    position: relative; 
    
}

.featured-listing-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0 0 24px 0;
}


.featured-listing-info li{
    margin-bottom: 24px;
}

.featured-listing-info li:nth-child(4){
    margin-top: 12px;
    margin-bottom: 12px;
}

.slider {
    position: relative;
    display: flex;
    flex-direction: row;

}

.slider-item {
    width: 100%;
    margin-right: 16px;
}

.featuredListingContent-mobile img {
    width: calc(100vw - 32px);
}


.featured-listing-selector {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 32px 0 0 0;
}
.featured-listing-selector img {
    padding: 0 15px;
}

.big-image {
    height: 0;
    width: 100%;
    padding-bottom: 100%;
    background-image: url('../images/featuredListing1-1.jpg');
    background-size: cover; 
}

.selector1, .selector2, .selector3 {
    cursor: pointer;
}

.big-image.selector-1 {
    background-image: url('../images/featuredListing1-1.jpg');
}

.big-image.selector-2 {
    background-image: url('../images/featuredListing1-5.jpg');
}

.big-image.selector-3 {
    background-image: url('../images/featuredListing1-9.jpg');
}

