@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

html {
    overflow-x: hidden;
}

body {
    margin: 0;
    font-family: 'Montserrat';
    padding: 0 16px;
}

h1 {
    font-weight: 400;
}

h2 {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.0025em;
    margin: 0;
    padding: 0;
}

h3 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.0015em;  
    margin: 0;
    padding: 0;
}

p {
    /* Body 1 */

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 26px;
/* or 144% */

text-align: center;
letter-spacing: 0.005em;
margin: 0;
padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

input{
    width: 100%;
    margin: 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    padding: 6px 0 6px 8px;
}

textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 6px 0 6px 8px;
    margin: 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    
}

.cta {
    letter-spacing: 0.0225em;
    font-weight: 600;
    font-size: 1.125em;
    text-decoration: none;
    padding: 12px 24px;
    color: white;
    background-color: #1E1E1E;
}

/* HEADER */

.nav-links {
    display: flex;
}

.nav-links a {
    margin: 0 32px;
    color: white;
    font-weight: 400;
    text-decoration: none;
    letter-spacing: 0.06em;
    font-size: 16px;
}

.burger div {
    width: 24px;
    height: 2px;
    background-color: white;
    margin: 5px;
}

.burger {
    display: none;
}

.nav-active {
    transform: translateX(0%);
}

/* HERO SPACE */

.hero-space {

    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    position: relative;
    left: -16px;

    background-image: url("../images/heroSpaceImage.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

}

.hero-space header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;

    position: absolute;
    width: calc(100vw - 32px);
    height: 52px;
    left: 16px;
    top: 16px;
}

.hero-space div h1{
    color: white;
    font-family: 'Playfair Display';
    font-size: 4em;
    margin-bottom: 128px;
}
.hero-space div a  {
    color: #1E1E1E;
    background-color: white;
}


/* OUR FAVORITE PROJECTS */

.our-favorite-projects {
    margin: 64px 0 0 0;
}

.our-favorite-projects ul li {
    
    padding: 32px 0; 
    text-align: center;
}

.our-favorite-projects ul li h3 {
padding-top: 16px;
}

.our-favorite-projects ul li p {
padding-top: 8px;
}

.our-favorite-projects ul li img {
    width: 100%;
}

/* FEATURED FISTING */

.featured-listing-content {
    position: relative;
    padding: 32px 0;
    margin: 32px 0;
}

.cyan-bg {
    background-color: #BCF6FB;
    position: absolute;
    z-index: -1;
    margin: 0;
    width: 100%;
    right: -25%;
    top:0;
    bottom:0;
}

.featured-listing {
    margin: 32px 0 0 0;
    position: relative; 
    
}

.featured-listing-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0 0 24px 0;
}


.featured-listing-info li{
    margin-bottom: 24px;
}

.featured-listing-info li:nth-child(4){
    margin-top: 12px;
    margin-bottom: 12px;
}

.feaatured-listing-img1 img{
    width: 100%;
}

.featured-listing-selector {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 32px 0 0 0;
}
.featured-listing-selector img {
    padding: 0 15px;
}

.our-services ul li img {
    width: 100%;
}

/* ABOUT US */

.about-us {
    position: relative;
    margin: 32px 0 32px 0;
    display: flex;
    flex-direction: column;
}

.about-us h2 {
    margin: 16px 0;
}

.about-us-text p {
    margin-top: 16px;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.005em;
    text-align: left;
}

.about-us a {
    position: relative;
    margin: 32px 0;
    align-self: center;
}

/* OUR SERVICES */

.our-services ul{
    margin: 16px 0;
}

.our-services h2 {
    margin-bottom: 32px;
}

.our-services ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 64px;
}

.our-services ul li h4 {
    margin: 16px 0 8px 0;
}

.our-services ul li p {
    margin-bottom: 16px;
}

/* CONTACT US */

.text-info {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.text-info div {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start; 
    margin: 32px 0 9px 0;   
}

.text-info div p {
    padding-bottom: 8px;
}

.text-info p {
    padding-bottom: 4px;
}

.cotact-inpust {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.cotact-inpust ul {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.cotact-inpust ul li {
    position: relative;
    width: 100%;
    margin: 8px 0;
    display: flex;
    align-content: center;
}


.contact-cta {
    display: flex;
    align-self: center;
    margin-bottom: 64px;
}



/* FOOTER */

footer {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.social-icons-for-mobile {
    display: flex;
    flex-direction: row;
    align-content: center;
    width: 100%;
}

.social-icons-for-mobile ul {
    display: flex;
    flex-direction: row;
    align-content: center;
}

.social-icons-for-mobile ul li {
    display: flex;
    flex-direction: row;
    align-content: center;
    margin: 16px 0;
}

.social-icons-for-mobile ul li img {
    width: 32px;
    height: 32px;
    margin: 0 16px;
}

footer p {
    margin: 8px 0;
}


@media only screen and (max-width: 650px){

    body {
        overflow-x: hidden;
    }

    .nav-links {
        position: absolute;
        right: 0;
        top: 8vh;
        height: 92vh;
        width: 100%;
        background-color: black;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .burger {
        display: block;
        cursor: pointer;
    }

    .nav-links li {
        opacity: 0;
    }

    .feaatured-listing-img2 {
        display: none;
    }

    .social-icons-for-desktop {
        display: none;
    }

    .text-info h3 {
        display: none;
    }


}