.our-favorite-projects {
    width: 1200px;
    margin-top: 128px;
    align-self: center;
}

.our-favorite-projects ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.our-favorite-projects ul li {
    width: 360px;
}

.our-favorite-projects ul li {
        
    padding: 32px 0; 
    text-align: center;
}

.our-favorite-projects ul li h3 {
padding-top: 16px;
}

.our-favorite-projects ul li p {
padding-top: 8px;
}